#loadscreen {
  display: none;
  z-index: 2;
}

/* wider than screen due to padding */
#inputN3 {
  display: none;
}

#topbar {
  width: 100%;
}

#generateOptions      { display: none; }
#saveFile             { display: none; }
#saveExperiment       { display: none; }

#sidebar {
  z-index: 1;
}

#showOptions, #hideOptions { float: right; }
#ownerID              { padding: 15px 5px; font-weight: bold; color: #fff; }
#friendsList          { margin: 10px; }
div.friend            { font-weight: bold; color: #999; cursor: pointer; }
span.name             { color: red; }
span.option           { margin-left: 2px; float: right; }

#history {
  height: 320px;
  overflow: scroll;
}

#algorithmControls, .animationSpeed { display: none; }
#speedSlider          { width: 100px; height: 10px; }

#graph                {  } /*clear: both;*/

svg                   { background: #FFF; margin: 20px; }
path.link             { stroke: grey; }
path.marker           { fill: grey; }
path.locallyInferred  { stroke-dasharray: 2,2; stroke: red; }
path.remotelyInferred { stroke-dasharray: 2,2; stroke: blue; }
circle.node           { fill: #eee; stroke-width: 2; stroke: #999; }
text.id               { text-anchor: middle; font-weight: bold; font: bold 10px sans-serif; }
text.RDFlinkTarget    { fill: grey; }

circle.bee            { fill: brown; stroke: red; }

/* toggle classes friendslist */
span.block            { color: #000; }
span.selected         { background: #000; }
span.connected        { color: green; }

/* toggle classes monitor */
p.data                { color: grey; font: italic 12px sans-serif;  }

/* toggle classes visualization */
circle.scout          { fill: red; }
circle.forager        { stroke: blue; }
circle.nurse          { stroke-width: 4px; }
circle.RDFlink        { /*some style for RDF link targets*/ }
